
/* Common */

:root {
  --c-foreground: #222;
  --c-background: #FFF;
  --c-red: #E83737;
  --c-grey: #CCC;
  --image-circle-10: url("data:image/svg+xml,\
    <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"10\" height=\"10\">\
      <circle cx=\"5\" cy=\"5\" r=\"5\" fill=\"\%23CCC\"/>\
    </svg>");
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font: 16px/1.4 "Rubik", sans-serif;
  color: var(--c-foreground);
  background: var(--c-background);
  margin: 0;
}

h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 0.5em 0;
}

.dark-mode {
  --c-foreground: #EEE;
  --c-background: #111;
  --c-grey: #555;
}

.container {
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

.notifications {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 0;
  right: 0;
  padding: 20px;
}

.notifications__item {
  cursor: pointer;
  color: var(--c-foreground);
  background-color: var(--c-grey);
  border-radius: 8px;
  text-align: center;
  padding: 15px 30px;
  animation: fadeIn 1s ease-in-out;
  opacity: 0.75;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 0.75; transform: translateY(0); }
}

/* Synthesizer */

.synth {
  overflow-x: auto;
  margin-top: 40px;
}

.synth__keyboard {
  position: relative;
  display: flex;
  padding: 1px;
}

.synth__key {
  display: block;
  flex-shrink: 0;
  border-radius: 0 0 8px 8px;
  outline: 1px solid var(--c-grey);
  margin-right: 1px;
}

.synth__key--white {
  width: 60px;
  height: 200px;
  background-color: #FFF;
}

.synth__key--black {
  width: 40px;
  height: 130px;
  transform: translateX(-20px);
  margin-right: -40px;
  background-color: #000;
  outline: none;
}

.synth__key--active {
  background-image: var(--image-circle-10);
  background-repeat: no-repeat;
  background-position: center 100px;
}

.synth__key--target {
  background-color: var(--c-red);
}

.synth__settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.controller {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 60px;
}

.controller__label {
  display: block;
}
